body{
    background: rgb(55, 179, 233);
    font: normal 15pt Arial;
    text-align: center;
}
header{
    color: black;
    width: 500px;
    padding: 5px;
    margin: auto;
}
section{
    background: rgb(255, 255, 255);
    width: 500px;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
div{
    padding: 5px;
    text-align: left;
}
footer{
    font-style: italic;
}
select{
    width: 200px;
}

